<div class="w-full h-full bg-black py-[10vw] px-[4vw]">
  <section class="flex flex-col justify-center items-center gap-[20px] w-full h-full">
    <div class=" w-full h-full relative">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 343 356" fill="none">
        <path d="M0 356V0H62.6456V50.3826H155.063V100.212H208.405V249.46L278.898 250.252V0H343V356H278.898V306.171H209.75V255.788H145.139V105.748H62.6456L63.2658 356H0Z" fill="#181818"/>
      </svg> -->
      <div class="absolute top-0 w-full h-full flex justify-center items-center">
        <div class="croc-img w-[23vw] h-[27vw]"></div>
      </div>
      <div class="flex flex-col absolute top-0 left-[19vw] text-center">
        <span class="text-[6vw] text-white !leading-[140%] uppercase">Nikolaeva Maria</span>
        <span class="text-[4vw] text-[#F6F6F6] font-normal opacity-50">UX/UI & Product Designer</span>
      </div>
      <div class="text-white text-center text-[5vw] absolute bottom-0 w-full flex justify-center">
        <span class="!leading-[7vw]">Привет! <br>Мобильная версия <br>в разработке</span>
      </div>
    </div>
  
    <div class=" w-full h-full relative">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 343 356" fill="none">
        <path d="M343 356H294.839V93.9958H293.195L190.999 353.286H152.001L49.5705 93.9958H47.926V356H0V0H60.8473L170.56 281.001H172.44L281.918 0H343V356Z" fill="#181818"/>
      </svg> -->
      <div class="text-white text-[4vw] text-center opacity-50 absolute top-[3vw] w-full flex justify-center">
        <span class="!leading-[5vw]">Давай познакомимся <br>через браузер</span>
      </div>
    </div>
  </section>
</div>