:host {
  display: block;
}

.avatar-img {
  background-image: url('/assets/images/avatar.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.croc-img {
  background-image: url('/assets/images/croc-front.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}