<div class="flex flex-col mt-[5vw]">
    <div class="flex">
        <div class="flex flex-col basis-[50%] gap-[0.5vw]">
            <span class="text-[1.9vw] font-semibold leading-[120%] uppercase">Проектирую интерфейсы для сайтов и мобильных приложений более 2-х лет (B2B, B2C, CRM, E-commerce).</span>
            <span class="w-[70%] font-medium leading-[130%] tracking-[-0.7px] opacity-50">Меня вдохновляют люди. Их привычки, невысказанные потребности и даже их ошибки. В этом и есть магия UX/UI — расшифровать это и создать такой цифровой опыт, который будет чувствоваться естественно и органично. Когда я вижу, что с помощью продуманного интерфейса человек сэкономил время, избежал путаницы или просто улыбнулся — я понимаю, что все было не зря. Это и есть мой главный двигатель в дизайне.</span>
        </div>
        <div class="flex flex-col basis-[50%]">
            <mat-accordion class="w-full">
                @for (item of data; track item; let i = $index) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="flex gap-3 items-center whitespace-nowrap">
                                    <span class="text-[2vw]">{{item.title}}</span>
                                    <span class="text-[1vw]">{{item.subtitle}}</span>
                                    @if(item.link) {
                                        <a class="text-blue-500 text-[1vw]" [href]="item.link.url" target="_blank">{{item.link.title}}</a>
                                    }
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="text-[1vw] leading-[130%]">
                            <markdown>{{item.description}}</markdown>
                        </div>
                    </mat-expansion-panel>
                }
            </mat-accordion>
        </div>
    </div>
</div>
