<div class="flex justify-between mt-[5vw]">
  <div class="flex flex-col gap-[1vw]">
    <span class="text-[2vw] font-semibold">А еще у меня есть креативные проекты</span>
  </div>
  <div class="flex justify-end gap-[0.5vw]">
    <div class="cavalli w-[6.1vw] h-[4.75vw] rounded-[2px] cursor-pointer" (click)="goToLink('https://www.behance.net/gallery/220976997/JUST-CAVALLI-E-commerce')"></div>
    <div class="m-gallery w-[6.1vw] h-[4.75vw] rounded-[2px] cursor-pointer" (click)="goToLink('https://www.behance.net/gallery/227921127/Portfolio-Art-Gallery-Website')"></div>
    <div class="infographics w-[6.1vw] h-[4.75vw] rounded-[2px] cursor-pointer" (click)="goToLink('https://www.behance.net/gallery/221267841/InfographicStones')"></div>
  </div>
</div>