<div class="flex flex-col sm:flex-row justify-between gap-[3vw] mt-[10vw] sm:mt-[5vw] mb-[15vw] sm:mb-[0]">
  <div class="flex flex-col gap-[1vw]">
    <span class="text-[4vw] sm:text-[1.8vw] font-semibold uppercase">А еще у меня есть креативные проекты</span>
  </div>
  <div class="flex sm:justify-end gap-[5vw] sm:gap-[0.5vw]">
    <div class="cavalli w-[22vw] h-[15vw] sm:w-[6.1vw] sm:h-[4.75vw] rounded-[2px] cursor-pointer" (click)="goToLink('https://www.behance.net/gallery/220976997/JUST-CAVALLI-E-commerce')"></div>
    <div class="m-gallery w-[22vw] h-[15vw] sm:w-[6.1vw] sm:h-[4.75vw] rounded-[2px] cursor-pointer" (click)="goToLink('https://www.behance.net/gallery/227921127/Portfolio-Art-Gallery-Website')"></div>
    <div class="infographics w-[22vw] h-[15vw] sm:w-[6.1vw] sm:h-[4.75vw] rounded-[2px] cursor-pointer" (click)="goToLink('https://www.behance.net/gallery/221267841/InfographicStones')"></div>
    <div class="posters w-[22vw] h-[15vw] sm:w-[6.1vw] sm:h-[4.75vw] rounded-[2px] cursor-pointer" (click)="goToLink('https://www.behance.net/gallery/179460175/Mars-2136')"></div>
  </div>
</div>