<div class="flex justify-between mt-[5vw]">
  <div class="flex flex-col gap-[1vw]">
    <span class="text-[2vw] font-semibold">А еще у меня есть креативные проекты</span>
    <span class="text-[1vw] text-[#18181870]">Кликая на превью вы перейдете на страничку работы в behance</span>
  </div>
  <div class="flex justify-end gap-[0.5vw]">
    <div class="cavalli w-[6.1vw] h-[4.75vw] rounded-[2px] cursor-pointer" (click)="goToLink('https://www.behance.net/')"></div>
    <div class="m-gallery w-[6.1vw] h-[4.75vw] rounded-[2px] cursor-pointer" (click)="goToLink('https://www.behance.net/')"></div>
    <div class="infographics w-[6.1vw] h-[4.75vw] rounded-[2px] cursor-pointer" (click)="goToLink('https://www.behance.net/')"></div>
  </div>
</div>