<div class="flex flex-col mt-[5vw]">
    <div class="flex flex-col gap-[10vw] sm:gap-[0] sm:flex-row mt-[5vw] justify-between">
        <div class="basis-[33%] flex flex-col justify-between items-start">
            <div class="flex flex-col gap-[1vw] sm:w-[24vw]">
                <div class="uppercase">
                    <span class="text-[10vw] sm:text-[3.5vw] leading-[100%]"><span class="pixel-text text-[12vw] sm:text-[4vw]">s</span>oft—<span class="pixel-text text-[12vw] sm:text-[4vw]">s</span>kills</span>
                </div>
                <div class="flex flex-wrap uppercase text-[4.55vw] sm:text-[0.8vw] text-[#00000080]">
                    <div class="flex gap-1 items-center mr-2">
                        <div class="rect"></div>
                        <span>эмпатия</span>
                    </div>
                    <div class="flex gap-1 items-center mr-2">
                        <div class="rect"></div>
                        <span>креативность</span>
                    </div>
                    <div class="flex gap-1 items-center mr-2">
                        <div class="rect"></div>
                        <span>Ответственность</span>
                    </div>
                    <div class="flex gap-1 items-center mr-2">
                        <div class="rect"></div>
                        <span>Коммуникабельность</span>
                    </div>
                    <div class="flex gap-1 items-center mr-2">
                        <div class="rect"></div>
                        <span>Критическое мышление</span>
                    </div>
                    <div class="flex gap-1 items-center mr-2">
                        <div class="rect"></div>
                        <span>Эффективное сотрудничество</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-[10px] mt-[5vw] sm:mt-[0vw]">
                <span class="font-medium leading-[120%] opacity-70">Активно использую нейросети</span>
                <div class="flex flex-wrap gap-[5px] sm:gap-[10px]">
                    <div class="text-white bg-black rounded-[5px] h-[35px] min-w-[35px] sm:h-[45px] sm:min-w-[45px] flex justify-center items-center px-[10px]">YandexGPT</div>
                    <div class="text-white bg-black rounded-[5px] h-[35px] min-w-[35px] sm:h-[45px] sm:min-w-[45px] flex justify-center items-center"><div class="leonardo w-[20px] h-[20px] sm:w-[25px] sm:h-[25px]"></div></div>
                    <div class="text-white bg-black rounded-[5px] h-[35px] min-w-[35px] sm:h-[45px] sm:min-w-[45px] flex justify-center items-center"><div class="deepseek w-[20px] h-[13px] sm:w-[25px] sm:h-[18px]"></div></div>
                    <div class="text-white bg-black rounded-[5px] h-[35px] min-w-[35px] sm:h-[45px] sm:min-w-[45px] flex justify-center items-center"><div class="sber w-[40px] h-[40px] sm:w-[45px] sm:h-[45px]"></div></div>
                    <div class="text-white bg-black rounded-[5px] h-[35px] min-w-[35px] sm:h-[45px] sm:min-w-[45px] flex justify-center items-center px-[10px]">Шедеврум</div>
                </div>
            </div>
        </div>
        <div class="basis-[33%] flex justify-center items-center">
            <div class="croc-big-img h-[70vw] w-[88vw] sm:h-[25vw] sm:w-[31vw]"></div>
        </div>
        <div class="basis-[33%] flex justify-start sm:justify-end">
            <div class="flex flex-col justify-between items-start">
                <div class="flex flex-col gap-[1vw] sm:w-[24vw]">
                    <div class="uppercase">
                        <span class="text-[10vw] sm:text-[3.5vw] leading-[100%]">ha<span class="pixel-text text-[12vw] sm:text-[4vw]">r</span>d—<span class="pixel-text text-[12vw] sm:text-[4vw]">s</span>kills</span>
                    </div>
                    <div class="flex flex-wrap uppercase text-[4.55vw] sm:text-[0.8vw] text-[#00000080]">
                        <div class="flex gap-1 items-center mr-2">
                            <div class="rect"></div>
                            <span>Research</span>
                        </div>
                        <div class="flex gap-1 items-center mr-2">
                            <div class="rect"></div>
                            <span>UX-исследования</span>
                        </div>
                        <div class="flex gap-1 items-center mr-2">
                            <div class="rect"></div>
                            <span>UX-writing</span>
                        </div>
                        <div class="flex gap-1 items-center mr-2">
                            <div class="rect"></div>
                            <span>Юзабилити-тестирование</span>
                        </div>
                        <div class="flex gap-1 items-center mr-2">
                            <div class="rect"></div>
                            <span>Прототипирование</span>
                        </div>
                        <div class="flex gap-1 items-center mr-2">
                            <div class="rect"></div>
                            <span>UI Design</span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-[10px] mt-[5vw] sm:mt-[0vw]">
                    <span class="font-medium leading-[120%] opacity-70">Программы в работе</span>
                    <div class="flex flex-wrap gap-[10px]">
                        <div class="text-white bg-black rounded-[5px] h-[35px] min-w-[35px] sm:h-[45px] sm:min-w-[45px] flex justify-center items-center px-[10px]"> <div class="figma w-[20px] h-[20px] sm:w-[25px] sm:h-[25px]"></div> </div>
                        <div class="text-white bg-black rounded-[5px] h-[35px] min-w-[35px] sm:h-[45px] sm:min-w-[45px] flex justify-center items-center text-[18px] sm:text-[26px]">PS</div>
                        <div class="text-white bg-black rounded-[5px] h-[35px] min-w-[35px] sm:h-[45px] sm:min-w-[45px] flex justify-center items-center text-[18px] sm:text-[26px]">AN</div>
                        <div class="text-white bg-black rounded-[5px] h-[35px] min-w-[35px] sm:h-[45px] sm:min-w-[45px] flex justify-center items-center text-[18px] sm:text-[26px]">ID</div>
                        <div class="text-white bg-black rounded-[5px] h-[35px] min-w-[35px] sm:h-[45px] sm:min-w-[45px] flex justify-center items-center px-[10px]"> <div class="blue-rect w-[20px] h-[20px] sm:w-[25px] sm:h-[25px]"></div> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
